* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header-section {
  background-color: #1f2937;
  height: 550px;
}

.header {
  height: 40px;
  margin: 0 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  margin: 0 auto 0 0;
  padding-right: 30px;
  flex-shrink: 0;
}

.header-navigation {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
  padding-left: 1px;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-section {
  margin: 90px 155px 0px 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-text {
  /*background-color: aqua;*/
  flex: 1 1 339px;
  height: 270px;
  display: flex;
  flex-flow: column nowrap;
  padding: 4px 0;
  min-width: 450px;
  gap: 5px;
}

.hero-header {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.lower-hero-text {
  color: #e5e7eb;
  font-size: 18px;
}

.sign-up-button {
  margin: 20px auto 0 0;
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.hero-image {
  background-color: rgb(185, 185, 185);
  flex: 1 1 339px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 450px;
  max-width: 500px;
}

.random-info-section {
  height: 520px;
}

.random-info-header {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  padding: 40px;
}

.random-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.block-one,
.block-two {
  display: flex;
  gap: 40px;
}

.info {
  height: 280px;
  max-width: 190px;
  width: 190px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.info-picture {
  height: 63%;
  border: 5px solid #3882f6;
  border-radius: 20px;
}

.info-text {
  flex: 1;
  text-align: center;
  margin-top: 10px;
  color: #1f2937;
  line-height: 20px;
}

.quote-section {
  height: 500px;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-holder {
  width: 870px;
  padding: 0 20px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  line-height: 50px;
}

.quote-author {
  text-align: end;
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-right: 30px;
}

@media all and (max-width: 1266px) {
  .header-section {
    height: 770px;
  }

  .hero-text {
    align-items: center;
  }

  .sign-up-button {
    margin: 12px 0 0 0;
  }

  .lower-hero-text {
    text-align: center;
  }

  .hero-header {
    text-align: center;
  }
}

@media all and (max-width: 952px) {
  .header-logo {
    margin: 0 auto 14px auto;
    padding-left: 18px;
  }

  @media all and (max-width: 937px) {
    .random-info-section {
      height: 850px;
    }
  }
}